### Go.AllowList template
# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# !Build

!build/reference-api-mock-server

# !Makefile

# !Compose
!compose.yaml

# ...even if they are in subdirectories
!*/

# !Docker Swagger Files
!docker/swagger/swagger-initializer.js

# Ignore vendor despite *.go
vendor